/* bloc du quiz*/
.quiz {
  background-color: #ede8e4;
  color: #1d3a42;
  border: 4px solid #5e4630;
  border-radius: 6px;
  padding: 20px;
  max-width: 800px;
  margin: 100px auto;
  text-align: center;
  font-family: "Grandstander", sans-serif;
}

/* ne pas afficher l'écran des résultats*/
.resultScreen {
  display: none;
}

/*bouton ok*/
.quizBtn {
  background: #eecb6e;
  color: white;
  padding: 0.75rem 3rem;
  border: none;
  cursor: pointer;
}

.questionScreen {
  display: none;
  text-align: center;
}

/*liste de réponses*/
.questionAnswer {
  list-style-type: none;
  padding-left: 0;
}

/*réponse individuelle*/
.answer {
  border: 2px solid #1d3a42;
  color: black;
  background: white;
  text-align: left;
  padding: 0.5rem 1rem;
  margin: 10px auto;
  cursor: pointer;
  user-select: none;
  font-size: clamp(0.8rem, 2.5vw, 1.1rem);
}

/*bonne réponse */
.answer--correct {
  background: #8bbc98;
}

/*mauvaise réponse*/
.answer--wrong {
  background: #da7676;
}

/*cacher écran d'accueil */
.hidden {
  display: none;
}

/*titre écran accueil*/
h1 {
  font-size: clamp(1.7rem, 2.5vw, 2rem);
}

/*numero question*/
h2 {
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}

/*titre question*/
h3 {
  font-size: clamp(0.8rem, 2.5vw, 1.4rem);
}
